
body {          
   font-family: "Times New Roman", serif;
   font-size: 40px;
   margin: 150px;
}

.allergene {
  font-weight: bold;
}
#top-header {
    position: relative;
    margin: 150px;
    height: 450px;  
    opacity: 0.8; 
    
    background-image: url("https://www.visitstockholm.se/media/original_images/pelikan-restaurang.jpg");
    background-size: cover;       
    background-position: center;  
    
    display: flex;                
    justify-content: center;       
    align-items: center;
    
    overflow: hidden; 
}

#top-header h1 {
    position: relative;            
    color: brown;
    font-size: 120px;
    margin: 0;
}
    

#burgers {
    background-color: black;
    color: white;
  
}

#burger-items {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;  
    grid-gap: 30px;
    padding: 20px 40px;
}

#burger-items > div {
    text-align: center;     
    margin: 8px;
    padding: 8px;
}

#burger-items img {
    width: 100%;   
    height: auto;
    display: block;
    margin: auto;
}
#burger-items h4 {
    font-size: 45px;       
    margin-bottom: 10px;
}
#burger-items ul {
    font-size: 40px;       
    line-height: 1.2;      
}

#burgers p {
    margin-left: 150px;
}
#burgers ul {
    list-style-position: inside;
    padding: 0;
    margin: 5px;  
    text-align: left;          
}

button {
    margin-left: 80px;
    margin-top: 1px;   
}
button:hover {
    background-color: lightgreen;   
    cursor: pointer;               
}

section {
    border: 2px dashed black;
    padding: 20px;
    margin: 150px;
    border-radius: 8px;  
}

h3 {
    margin-left: 150px;
    font-size: 55px;
    color: brown;

} 
