
body {          
   font-family: "Times New Roman", serif;
   font-size: 18px;
}

.allergene {
  font-weight: bold;
}
#top-header {
    margin: 17px 17px;
    position: relative;
    height: 250px;        
    overflow: hidden; 
}

#top-header h1 {
    position: absolute;
    margin-top: -260px;
    margin-left: 150px;
    color: brown;
}

#top-header img {
    width: 100%;        
    height: auto;       
    display: block;
    opacity: 0.7;     
}

#burgers {
  background-color: black;
  color: white;
  
}

#burger-items {
    display: grid;
    grid-template-columns: 33% 33% 33%;  
    grid-gap: 20px;
    justify-content: center;
}
#burgers div {
    vertical-align: top; 
    margin: 8px;
    padding: 8px;
}
#burgers p {
    margin-left: 17px;
}
#burgers ul {
    list-style-position: inside;
    padding: 0;
    margin: 5px;  
    text-align: left;          
}

button {
    margin-left: 17px;
    margin-top: 1px;   
}
button:hover {
    background-color: lightgreen;   
    cursor: pointer;               
}

section {
    border: 2px dashed black;
    padding: 20px;
    margin: 17px;
    border-radius: 8px;  
}

h3 {
    margin-left: 17px;
} 
